MSU-USDA Python Workshop
# Python for Data Science: Getting Started with Python and Pandas

# I. Importing Necessary Packages
The following code will include the packages you'll need for this notebook. Packages are collections of code that adds additional functionality to the core Python.

Note: If you're new to Jupyter notebooks, to run the code, just click on the cell below and then click the "Run" button above in the menu. You can also use the shortcut of holding down "shift" and hitting the return key.

In [ ]:
# Numpy supports multidimensional arrays and has a lot of math functions.
import numpy as np 

# Pandas is great for tabular data (data in rows and columns)
import pandas as pd

# Matplot Lib is for drawing plots, graphs, etc. and Seaborn is another package
# that makes matplotlib easier to use and create more attractive graphics
import matplotlib.pyplot as plt 
import matplotlib.image as mpimg 
import seaborn as sns 

# Geopandas adds geographical analysis capabilities to Pandas - one or more of your
# columns can be geographical (points, lines, shapes, etc.)
import geopandas as gpd
from geopandas import GeoDataFrame 

# These are built into core python but you have to include them to use them
import random 
import os 
import json 

# This package adds the ability to work with Excel files
import openpyxl

# II. Hello World
It's traditional for your first code in any language to be a "hello world." So, let's store "Hello World" in a variable and then print it out with python. 

This is a good time to turn on your line numbers through View -> Show Line Numbers.

Also, let's experiment with commenting out code using a pound symbol (#). You can also select multiple lines and hit CTRL+/ in windows or Command+/ on Mac.

In [ ]:
myMessage = "Hello World"
print(myMessage)

# III. Python Variables and Types
In the previous section we stored the phrase "Hello World" in a variable named "myMessage." A variable is a container for data. Variables have *names* and they can contain data of many different *types* (numbers, character strings, etc.)

## What Types Does Python Support?
Python supports the following types by default:

| Kind of Data | Python Types | Examples |
| :----------- | :----------- | :----------- |
|Text|str|varName = "I love milkshakes."|
|Numeric|int, float, complex|varName = 3<br />varName = 3.0<br />varName = 3j|
|Sequence|list, tuple, range|varName = ["chocolate", "strawberry", "vanilla"]<br />varName = ("chocolate", "strawberry", "vanilla")<br />varName = range(6)
|Mapping|dict|varName = {"name" : "Bully", "species" : "Dog"}|
|Set|set, frozenset|varName = {"strawberry", "vanilla", "chocolate"}<br />varName = frozenset({"strawberry", "vanilla", "chocolate"})|
|Boolean|bool|varName = True|
|Binary|bytes, bytearray, memoryview|varName = b"hello"<br />varName=bytearray(5)<br />varName=memoryview(bytes(5))|
|None|NoneType|varName=None|

## Types That Don't Require Explanation
If you've programmed in another language, you will probably know what the following types are without any explanation:
- Text - str (text goes in what programmers call 'strings')
- Numeric - int (integers are counting numbers)
- Numeric - float (floating point numbers have a decimal and some amount of precision)
- Boolean - bool (boolean values are either True/1 or False/0)

## Types That Require Explanation
But there are some types that look a little weird at first, so let's walk through them.

### Numeric - complex
The *complex* type is used to store complex numbers. A complex number take the form a + ib, where a is the real number and ib is the imaginary number. i is the square root of negative one, so we call it "imaginary." One detail - engineers use the convention "j" instead of "i" for the square root of negative one, so Python follows the engineering convention. We won't be using these in this lab, but if you want to brush up on complex numbers, there's a [great intro at Khan Academy](https://www.khanacademy.org/math/algebra2/x2ec2f6f830c9fb89:complex/x2ec2f6f830c9fb89:imaginary/a/intro-to-the-imaginary-numbers).

### Sequences - list [] and tuple ()
Lists and tuples (pronounced too-pulls) are used to store lists of things like "1,2,3,4" or "dog,cat,horse,zebra". The difference is that lists can be changed after you create them (they are *mutable*) and tuples cannot be changed (they are *immutable*). The code below initializes a list and a tuple and illustrates how Python also lets you figure out what type any variable is.

In [ ]:
# initialize a list with square brackets
myList = [8,7,19,9]
# initialize a tuple with parentheses
myTuple = (8,7,19,9)

# print out the type of each
print(type(myList))
print(type(myTuple))

#let's try to change a list; you should have no problem
myList[0] = 9

# print out that changed list - you'll see a 9 in the first position since you changed it
print(myList)

# you can also print out just the first member of the tuple or list like this
print(myTuple[0])

# but, let's try to change a tuple -  you should see an error
myTuple[0] = 9

# and so because of the error, this line will not execute at all
print(myTuple)

Hey, don't worry about that error - I *knew* that would happen. Notice a few things about that code:
- Lists are assigned using square brackets [] and tuples are created using parentheses ()
- The type() method returns what type of variable something is (Lines 7 and 8)
- I can access an individual member of a list using brackets myList[0] and the number of the item (line 11). In the example above, I assign the first member of the list ([0] - all cool programming languages start counting from zero and not one) a new value and it switches from 8 to 9 when I print it out on line 14. You can access the second member of the list using myList[1], the third with myList[2], and so on. 
- Tuples are not changeable. Even though I can access the first item using [0] the same way I did with lists (line 17), when I try to change myTuple, I get a "TypeError" - because you can can't change tuples once they are created.

So, line 20 generates an error because I tried to change a tuple. Tuples exist because they are much faster to process than lists. If you have a list of things that won't change while a program runs, storing it as a tuple means faster code.

### Range (start,stop,step)
Range is used to hold a series of numbers. Suppose you are going to do some research on the multi-state lottery in which numbers range from 10 to 45. You could declare that as a range and then use that range throughout your code for all kinds of purposes. 

range(start,stop,step) is exclusive, like in the example given range(10,46,1) 46 wouldn't be included. 

For example:

In [ ]:
# lottery ticket balls range from 10 to 45
# let's assign this range to the variable "lotteryRange"
lotteryRange = range(10,46,1)  # range(start,stop,step)

# loop through the range and print out every number
# notice that at each iteration of the loop, the variable "number" will contain the next
# number in the range
for number in lotteryRange:
  print(number)

As you can see, our range goes from 10 to 45 incremented by 1. If you leave out the start number and the step size, Python assumes you want to start at 0 and increment by 1. In Python, a range is *immutable*. This example also used a "for" loop meaning that the block of code below it executes many times. In this case the number of times is determined by how many members there are in the range of numbers.

### Sidebar: Indentation in Python

Notice that after the "for" loop starts there is a colon and then the lines contained within the loop are indented by four spaces. Python doesn't use curly brackets like C-like languages do, but uses indentation to mark out blocks of code. Jupyter will take care of this for you for the most part. If you are using a plain text editor, just be consistent, you have to use a consistent number of spaces for the indent or a tab, but you can't mix styles.

### Using Range in a For Loop

Range is often used in the context of a *for loop* like this:

In [ ]:
# range here is called with "from" and "to" and the default increment of 1 will be
# in effect
for counter in range(0,10):
    print(counter)

### Mapping - Dictionary {"key":"value","key2":"value2"}

Dictionaries are very useful for data science. They consist of a list of "key / value" pairs. Just like a dictionary has a word (key) and a definition (value), Python dictionaries have these pairs of keys/values. For example, here's some code that stores US Department of Labor occupation codes in a dictionary:

In [ ]:
#lets initialize our dictionary to contain three occupations
# notice that dictionaries use curly brackets
occupationCodes = {"welder" : "51-4121.00", "nurse" : "29-1141.00", "computer programmer" : "15-1251.00"}

#oops, I forgot one, I can also add one at at a time
occupationCodes["accountant"] = "13-2011.00"

# a customer typed in a keyword to search for a key in the dictionary
# note: if this were real code you would need to "sanitize" your inputs
# and make sure the customer didn't type anything that could potentially
# ruin your database or expose a system vulnerability
keyword = "welder"

#now, I can do things with the dictionary like check if there is an entry:
if keyword in occupationCodes:
    print(f"The occupation code for {keyword} is {occupationCodes.get(keyword)}")
else:
    print(f"Sorry, don't have information on {keyword}")

There are lots of cool things to notice in this code:
- You can modify dictionaries (line 6)
- You can check to see whether a key exists in the dictionary - on line 15 we check to see if the customer's keyword shows up as a key in the dictionary.
- You can use .get(key) with a dictionary to retrieve the corresponding value (line 16)
- You can not only print variables using the {} curly brackets, but you can also put code to execute in the curly bracket (line 16).

Try modifying the keyword to something like "firefighter" that we know isn't in the dictionary and then running it.

This code snippet above also uses the "if ... else" functionality in Python. The next section after we finish with types includes an explanation of this way to *check conditions* before executing code.

Dictionaries, starting in Python 3.7 are *ordered* collections which means you can count on key/value pairs being stored in the order in which you added them to the dictionary.

As awesome as dictionaries are, we will also use "data frames" later in this class to store multi-dimensional data. This functionality won't come from the basic Python language itself, it will be drawn from a library called "Pandas."

### Set {} and FrozenSet (())
While *list* and *tuple* have an order to them and you can access their values by referring to the order using brackets ([0] grabs the first item), *set* and *frozen set* are not ordered and you can't reference individual members using an index in brackets. It's like a library full of books with no card catalog and a blindfolded librarian is only able to hand you a book at random (though not truly randomly). 

With *set*, you can remove items from or add items to the *set*, but you can't modify an item directly. With a *list*, you could change "Charles" to Charlie." But with a *set*, you'd have to delete "Charles" and then add "Charlie." You also can't have duplicate values in a *set*. So you could represent the gameplay of duck, duck, goose using a *list*, but not a *set*. A *set* would only store "duck" and "goose" once each. 

The code below illustrates the properties of a set:

In [ ]:
# Short way to create a set (notice curly brackets)
universitySet = {"Mississippi State", "Michigan State", "Columbia", "LSU", "Tulane", "Notre Dame"}

print(universitySet)

print(f"This set contains {len(universitySet)} items.")

if "USM" in universitySet:
    print("Cool, USM is Represented")
else:
    print("We need to add USM")
    # add a college
    universitySet.add("USM")

# remove a college
universitySet.remove("Notre Dame")

print(universitySet) 

# Longer way to create a set (using the 'set' constructor method)
communityCollegeSet = set(("Jones College","EMCC","Meridian Community College"))
print(communityCollegeSet)

Notice a few things:
- There are two ways to initialize a set - the shorthand (line 2) and the longhand (line 17)
- The method "len()" tells you how many members are in a set (line 6). You could also use len with a dictionary or other collections in python.
- We can use "in" to see if a value is contained in the set (line 8)
- You can .add() (line 13) and .remove() (line 16) items from the set

A frozenset is like a set, but you cannot add or remove values once it is created. This code creates a frozenset then generates an error when trying to change it:

In [ ]:
communityCollegeSet = frozenset(("Jones College","EMCC","Meridian Community College"))
print(communityCollegeSet)

communityCollegeSet.remove("EMCC")
print(communityCollegeSet)

You can't remove "EMCC" from the list because frozensets are immutable and Python enforces this.

Sets use a "hash table" under the hood so they are super fast for figuring out whether something is in the set. That's their main advantage: speed.

## Figuring Out What a Variable Can Do

A cool trick is that you can type a variable name in Python into a Jupyter notebook, then a period after it, then hit the "tab" and you'll see a list of possible functions that are available for that instance. Give it a shot - just put your cursor after the variable below and you'll see a list of the functions available.

In [ ]:
communityCollegeSet.

It should look like this:

<img src="https://dsci.msstate.edu/downloads/USDA/autocomplete.png" style="width:600px" />

# IV. Iterating through Lists and Dictionaries
One thing you'll need to do quite frequently in data science is to iterate through the values in a list, one by one. There are a few ways to do this. Here's the first:

In [ ]:
# Create a List
greatLanguages = ["Python", "R", "Rust", "C++"]
for language in greatLanguages:
    print(f"{language} is a great language.")

Notice that:
- The variable "language" stores, one by one, the words in the greatLanguages collection (Line 2)
- Within the for loop, at each step, you can operate against the variable language and do things like printing (Line 4)

Sometimes you want to iterate in such a way as to store the index of each item and not just get the value of each item in the list:

In [ ]:
greatLanguages = ["Python", "R", "Rust", "C++"]
for position, language in enumerate(greatLanguages):
    print(position, language)

In the example above:
- The variable *position* contains the index number of the item at each iteration (0-3)
- The variable *language* contains the value of the item (just as before)
- The "enumerate" method is what extracts the value of the *position* and the *language variables*

Iterating through a dictionary works similarly:

In [ ]:
#lets initialize our dictionary to contain three occupation titles with their corresponding codes
occupationCodes = {"welder" : "51-4121.00", "nurse" : "29-1141.00", "computer programmer" : "15-1251.00"}

for key, value in occupationCodes.items():
    print(key, " is coded as ", value)

### Exercise 1: List

Create a list of your favorite band names and then iterate through the list and output each one in the format like "I love The Rolling Stones".

# V. Functions

You're familiar now with Python's built-in functions like "print." Sometimes you'll need to create custom functions.

For example, let's create and use a trivial function that takes three values and returns their average.

In [ ]:
# define our function
def averageThreeVars(var1,var2,var3):
    # calculate the average of the three
    average = (var1 + var2 + var3) / 3
    # return the average
    return(average)

# let's find the average height of the three highest mountains in the world

# store the height in feet of three mountains in separate variables
everestHeight = 29032
k2Height = 28251
kangchenjungaHeight = 28169

# call the function averageThreeVars and pass in our three peaks, store the
# result in a global variable called averageHeightThreePeaks
averageHeightThreePeaks = averageThreeVars(everestHeight,k2Height,kangchenjungaHeight)

# print out our global variable
print(f"The average height of our three peaks is {averageHeightThreePeaks}")

Notice that our function received the three mountain heights, calculated an average, and then "returned" that average where we stored it into a global variable called "averageHeightThreePeaks."

In most languages, you can only return one variable from a function. That variable can be a collection (e.g., a list) and so this isn't very limiting, but Python is pretty unique in being able to return multiple values from one function. We won't go into that today, but keep that in mind for the future.

## Lambda Functions

So far, this notebook has focused on defined functions. But there is another kind of function in Python called a "Lambda" function. This is probably the most advanced topic we cover here, but you'll see us use it later and may want to come back to review this.

The following sample code will call a traditional function and a lambda version of the same function to add three to the number we give the function.

In [ ]:
# we have some variable we want to change
myVariable = 7

# define a traditional function
def addThreeTraditional(number):
    return number+3

# call it and pass in myVariable to add 3
myResult = addThreeTraditional(myVariable)

# print the result
print(myResult)

# now let's see a lambda version
addThreeLambda = lambda x: x + 3

# call the lambda
myResult = addThreeLambda(myVariable)

# print the result
print(myResult)

Note that you should get the same result for both the regular and lambda versions of the function (10).

Why on earth would we use lambdas? Well, a key reason would be that we don't have to define them ahead of time like we did above. The following is equivalent but it uses what are called "anonymous" functions - a lambda with no name.

In [ ]:
# get a result by, instead of using "addThreeLambda", just put the lambda 
# in parentheses and call with an argument in parentheses

myResult = (lambda x:x+3)(myVariable)
print(myResult)

Amazing, right? You can also pass in multiple variables just like with a defined function.

In [ ]:
var1 = "Amazing"
var2 = "Spiderman"

# notice our lambda has two variables - x and y
# and so we pass in the arguments in order
superhero = (lambda x,y:x + " " + y)(var1,var2)

print(superhero)

So we passed in two variables to the lambda, it squished them together with a space between and then returned them. You should see "Amazing Spiderman."

Now, just so you know the terminology of the parts of a lambda:

<img src="https://dsci.msstate.edu/downloads/wrangling/lab6/lambda.png" alt="parts of a lambda" width="400"/>

## Python: Learning More

Well, there's a lot more to Python, but the above gives you a start on variables, loops, collections, and iterating through collections.

The great thing about Python is that you can google "How do I (do whatever) in python?" and you'll get help in many places.

# VI. Tabular Data with PANDAS

The [pandas website](https://pandas.pydata.org/) describes the project's goal - pandas "aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis / manipulation tool available in any language."

PANDAS uses two kinds of structures to store data - *data frames* and *series*. Data Frames are like an excel spreadsheet - think of a table of data with headings and values. Series are like a single column in an excel spreadsheet. Both types of data have an *index* - you can think of an index, for now, as a line number, but it can be anything, even text.

<img src="https://pandas.pydata.org/docs/_images/01_table_dataframe.svg">


(Image Source: Pandas Tutorial, https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html)

## Making a Data Frame from Scratch

You can make a data frame programmatically. For example, let's create a data frame from lists.

In [ ]:
listOfTuples = [(1,'089',32223,59730,98468,35297),
                   (2,'121',27183,56159,145165,52539),
                   (3,'073',27399,50075,57786,21237),
                   (4,'033',25065,59734,166234,56641),
                   (5,'059',23547,49620,140298,50185),
                   (6,'047',23111,44550,194029,69384),
                   (7,'149',22079,40404,48773,18941),
                   (8,'045',21935,44494,43929,17380),
                   (9,'081',21831,39049,82910,32086),
                   (10,'131',21691,43728,17786,6165)]

listOfColumnNames = ["rank","county_fips","per_capita_income"
                     ,"median_household_income","population"
                     ,"num_households"]

countyData = pd.DataFrame(listOfTuples,columns=listOfColumnNames)
        
# if placed on a line by itself, you will get pretty output of the data frame    
countyData

## CSV Files

Pandas makes it very easy to load an excel file or other tabular data sources into data frames. 

Generally, we use .csv files instead of excel for common data exchanges because excel has a limit on length (1,048,576 rows). CSV is a common data format that uses a comma between the value in each column of data ("comma delimited") and it usually puts quotation marks around any data that inherently has commas (in case one of your columns itself needs commas).

For example, a raw CSV file with a header row might look like this:

<pre>
Book Title,Publisher,Price
War and Peace,Vintage Classics,12.99
"Our Bodies, Ourselves",Touchstone,48.38
Putin's Playbook,"Simon & Schuster, Inc.",14.49
</pre>

Notice that the second book listed has a comma in the title, so it is surrounded by quotation marks to avoid our interpreting the comma as a new column.

The third book listed has a comma in the publisher name, so the quotation marks are used.

## Loading a .csv File from a URL

Here's an example of using pandas to load college football bowl data. It will load a file that is .csv format (comma-separated-values) into data frames. To make it easy at first we'll just load a file from the internet so you don't have to worry about local paths:

In [ ]:
# load in a csv file (this one is remotely located on a server)
# note - the data dictionary is in https://dsci.msstate.edu/downloads/wrangling/lab2/collegefootballbowl.txt

bowlData = pd.read_csv ('https://dsci.msstate.edu/downloads/wrangling/lab2/collegefootballbowl.csv')

bowlData

### Head(): Viewing Just the first N Lines
Use head() to get a quick look at the first part of the data file.

In [ ]:
## Head and Tail

bowlData.head(10)

### Tail(): Viewing Just the last N Lines
Use tail() to get a quick look at the end of the data file.

In [ ]:
bowlData.tail(10)

## Investigating the Data

### Shape Property: How Many Rows / Columns?

In [ ]:
bowlData.shape

So we see there are 1527 rows and 14 columns.

### Dtypes Property: Understanding the Data Types of Each Column

Maybe you would like to know the data type of each column. Just run:

In [ ]:
bowlData.dtypes

Anything column that says "object" is probably storing strings. int64 and float64 are numbers.

### Describe(): Summary of Numerical Data (min, max, count, mean, quartiles)

Maybe you would like to have a summary of the data. Just run:

In [ ]:
bowlData.describe()

Notice that .describe returned a description of all the numerical columns including number of values, mean, standard deviation, min, max, and percentiles. The "min" of the year column is interesting - 1901 is the earliest year on record.

Also, notice that we only get descriptions of numerical columns. It's weird that we don't see the column for winner_rank, for example, but that's because it contains some non-numeric data. It's "messy" like a lot of real data is.

To see all columns, numeric or not, you can do this:

In [ ]:
bowlData.describe(include = 'all')

You can now see "top" which gives you the most common value in the column.

### Analyzing Individual Columns

You can also run mathematical measures of central tendency against individual columns. For example:

In [ ]:
# the mean of winner_points
print("Winners had an average of ",bowlData['winner_points'].mean())

# the median of loser_points
print("Losers had a median of ",bowlData['winner_points'].median())

### Info(): Understanding all Fields, Null Values, Size, etc.

In [ ]:
# the .info method, like the property .dtypes, is great for figuring out the shape of our data
bowlData.info()

## Selecting Data

To find a specific set of rows, columns, or cells, you can use pandas to select data. There are several ways to do this.

### The df.loc[] approach:

With **.loc[rows, columns]** you can directly access rows and columns by name. If you have an integer in the "row" part, Pandas assumes this is the index of the row.

#### Single Cell

In [ ]:
# SELECT a single cell - the attendance where row index is 1
bowlData.loc[1 , 'attendance']

#### Single row by index

In [ ]:
# SELECT whole row of data where row index is 1
bowlData.loc[1 , :]

#### Single Column by Column Name

In [ ]:
# SELECT a single column of data, just the atttendance column
bowlData.loc[: , 'attendance']

#### Slice of Rows by Index Range

In [ ]:
# SELECT a "slice" of rows where index is between 1 and 20
bowlData.loc[1:20 , :]

#### Slice Containing All Rows, but Only Certain Columns

In [ ]:
# SELECT all rows but only a  "slice" of columns 
bowlData.loc[: , 'year':'winner_rank']

#### Slice Containing Certain Rows, Certain Columns

In [ ]:
# SELECT a "slice" of cells where row index is between 10 and 20 and only a few columns
bowlData.loc[10:20 , 'year':'winner_rank']

#### Rows Where Column has Certain Value

In [ ]:
# this will find the locations in the dataset where year is equal to 1901
bowlData.loc[bowlData['year'] == 1901]

This returned only one row. You can read all about that season of bowls here: https://en.wikipedia.org/wiki/1901_college_football_season

In [ ]:
# this will find the locations in the dataset where sponsor is null
bowlData.loc[bowlData['sponsor'].isna()]

#### Rows Based on Column Comparison

If we want to return all the games where the winner was ranked below the loser, we could do it this way.

In [ ]:
# finds all locations where the loser ranked below the winner
bowlData.loc[bowlData['loser_rank'] < bowlData['winner_rank']]

Notice that when your output exceeds twenty lines Jupyter will format nicely and show a bit at the ending and a bit at the end. It will do the same thing if your output has too many columns.

### The df.query() Method:

We can also use a method called .query(). Inside the .query() we can put a query that looks a little bit like a database query.

#### Rows Where Column has Certain Numerical Value

In [ ]:
# this will find the locations in the dataset where year is equal to 1901 using .query
bowlData.query("year == 1901")

#### Rows Where Column has String Value

In [ ]:
# This will find the locations where the bowl_name is "Rose Bowl"
# notice the single quotes around the string "Rose Bowl"
bowlData.query("bowl_name == 'Rose Bowl'")

#### Rows Based on Substring Comparison

In [ ]:
# Grab any row where the word "State" appears in the winner_tie column
bowlData.query('winner_tie.str.contains("State")', engine='python')

#### Rows Based on Column Comparison

In [ ]:
# This will find all locations where the loser ranked below the winner using .query
bowlData.query("loser_rank < winner_rank")

#### Rows Based on Comparison with a Variable

In [ ]:
# First, let's get the mean winner_points x 2
twiceTheMean = bowlData.winner_points.mean() * 2

# then, we can use that value to query for winners with more than twice the mean
bowlData.query("winner_points > @twiceTheMean")

#### Combining Criteria

In [ ]:
# Find all the rows where the winner is Alabama, 
# Alabama had more than 50 points, 
# and yet they weren't ranked number 1.
bowlData.query("(winner_tie == 'Alabama') and (winner_points > 50) and (winner_rank > 1)")

## Sorting Data

Let's sort by the winner's points to find the highest score by an upset winner.

The problem is that to sort properly, some of our rank data is not numeric as we saw above when we did .dtype.

Here's what happens if we sort on the winner_points column and try to sort descending (highest rank down to lowest):

In [ ]:
# another cool thing - notice that we've asked for only certain columns by providing a list of the column
# names or 'series' that we want

bowlData[['id','year','winner_rank','mvp']].sort_values(by=['winner_rank'], ascending=False)

Notice that "Pennsylvania" is the highest winner_rank, but that's not a number at all. Let's fix that by changing that column to something numeric and then sorting again.

In [ ]:
bowlData["winner_rank"] = pd.to_numeric(bowlData["winner_rank"])

Oh, we got an error. Let's fix that row to something numerical like zero.

In [ ]:
# in the location where the row winner_rank is Pennsylvania and the column is winner_rank, set it 0
bowlData.loc[bowlData['winner_rank'] == 'Pennsylvania', ['winner_rank']] = 0

# then do the conversion
bowlData["winner_rank"] = pd.to_numeric(bowlData["winner_rank"])

Awesome, no error. Now let's convert the loser_rank column values to numeric:

In [ ]:
bowlData["loser_rank"] = pd.to_numeric(bowlData["loser_rank"])

Oops, the same error.  Please supply the code here to change "TN" to zero on the row where loser rank is zero.

In [ ]:
# put the code here to change the value
bowlData.loc[bowlData['loser_rank'] == 'TN', ['loser_rank']] = 0

# then we can convert loser rank to numeric
bowlData["loser_rank"] = pd.to_numeric(bowlData["loser_rank"])

Now, we can see what we were looking for. We want to know who had the most points in a game when a lower ranking team beat a higher ranked team.

In [ ]:
# get the rows where loser ranks lower than winner then sort by the winner's points descending
# notice how you can chain methods together
bowlData.query("loser_rank < winner_rank").sort_values(by=['winner_points'], ascending=False)

Nice, right? we can see that 23rd ranked West Virginia beat 14th ranked Clemson in 2011 with a score of 70!

## Grouping Data

In [ ]:
avgPointsByWinners = bowlData.groupby("winner_tie")["winner_points"].mean()
avgPointsByWinners

Notice that the list is sorted by winner_tie, the grouping column. This is the default behavior unless you specify sort=False as a parameter of the groupby() function.

## Renaming Columns

To change column names, the easiest way is this:

In [ ]:
# create a dictionary where key is the old name and value is the new name
columnMap = {"mvp":"Most Valuable Player", "attendance":"Attendance"}

bowlData = bowlData.rename(columns=columnMap, errors="raise")

bowlData

## Handling Missing or Null Values
A common thing one needs to prepare for analysis or machine learning is to ensure that there are no null values. Let's see what's null in our bowl data. An easy thing to do is to get a number of null values per column like this:

In [ ]:
# first, let's be sure we can see enough rows
pd.set_option('display.max_rows', 30)

# now show the count by column of null values
bowlData.isnull().sum()

In [ ]:
# this would return true or false for any row / column in which the result is missing / null
bowlData.isna()

Notice the "True" in the winner_rank and loser_rank columns. This means some of the columns in "winner_rank" and "loser_rank" are missing.

Let's look at those rows with null values ("NaN")

In [ ]:
# here we're asking for all the rows where winner_rank is null
bowlData[bowlData['winner_rank'].isnull()]

This method will replace anything that is NaN with zero:

In [ ]:
# put data into a new data frame and replace all missing values in the winner_rank with zero
# notice that we are assigning the results of fillna to a new dataframe variable
betterBowlData = bowlData.fillna(0)

# let's see if anything is null - shouldn't be
betterBowlData.isna()

## Writing Data to a File

To write data to a file, PANDAS has a built-in method to write .csv files - df.to_csv().

For example, let's write our bowl data to a file.

In [ ]:
bowlData.to_csv(r'bowlData.csv', index = None, header=True)

## Learning more about Pandas

There is a great pandas "cheat sheet" in the lab files.